{% extends "main.html" %} {% block title %}
<title>YourPhotos</title>
{% endblock %} {% block content %}
<div id="container">
  <h1>We will keep all your emotions <span>&#128247;</span></h1>
</div>
<p id="main_text">
  I'm doing the final project! There should be a lot of beautiful text regarding
  this site, but there was not enough time to write it. Of course, I will write
  the text for the site, but if you see this text, then I did not have time,
  sorry!<span>&#128578;</span>
</p>
<div id="banner">
  <img src="static/images/picrure_index.png" alt="Not photo" />
</div>
<div id="clear"></div>
{% endblock %} {% block exit %} {% endblock %}
